<div class="slideshow">
  <div class="carousel" [style.rotate]="rotateVal + 'deg'">
    <div class="slide">
      <img (dragstart)="dragstart($event)" (dragend)="dragend($event)"
        src="https://s3-alpha-sig.figma.com/img/340f/ac90/fd6dfbaeba51d1e63c2f7abcbe67478b?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VanUTpBqQiIMalw8MftpBa2PLI02KCHM2dRNRx6POhIbpJUEiawpmb0kzg1zsiGajz8PkSdpkhuoQ6TiDJPfD4~iX4ansBM8z4aG5s9Vu5RubuPs1OigBcxsTywtlUC3MHoOtLqQSowVdWeCZ5bd1J3Nd3iP~Otf7XyKYe7T8cGGdakL1GtG0c7vmkEEZsE1wwCqRX4sLwUMqpwzcfnVtqwJQByFbc7cdp9BhYc6wBBANf9VYZb8kvld1Ln9UgsZ7mfxlLgxidngU8bDlLAIcGxdPumMkw03NY-gv7-pQQidrDmSBBC-7oaM4Bl8kk~tfOqzylibWJvpT92d7tRnkg__"
        alt=""
      />
    </div>
    <div class="slide">
      <img (dragstart)="dragstart($event)" (dragend)="dragend($event)"
        src="https://s3-alpha-sig.figma.com/img/340f/ac90/fd6dfbaeba51d1e63c2f7abcbe67478b?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VanUTpBqQiIMalw8MftpBa2PLI02KCHM2dRNRx6POhIbpJUEiawpmb0kzg1zsiGajz8PkSdpkhuoQ6TiDJPfD4~iX4ansBM8z4aG5s9Vu5RubuPs1OigBcxsTywtlUC3MHoOtLqQSowVdWeCZ5bd1J3Nd3iP~Otf7XyKYe7T8cGGdakL1GtG0c7vmkEEZsE1wwCqRX4sLwUMqpwzcfnVtqwJQByFbc7cdp9BhYc6wBBANf9VYZb8kvld1Ln9UgsZ7mfxlLgxidngU8bDlLAIcGxdPumMkw03NY-gv7-pQQidrDmSBBC-7oaM4Bl8kk~tfOqzylibWJvpT92d7tRnkg__"
        alt=""
      />
    </div>
    <div class="slide">
      <img (dragstart)="dragstart($event)" (dragend)="dragend($event)"
        src="https://s3-alpha-sig.figma.com/img/340f/ac90/fd6dfbaeba51d1e63c2f7abcbe67478b?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VanUTpBqQiIMalw8MftpBa2PLI02KCHM2dRNRx6POhIbpJUEiawpmb0kzg1zsiGajz8PkSdpkhuoQ6TiDJPfD4~iX4ansBM8z4aG5s9Vu5RubuPs1OigBcxsTywtlUC3MHoOtLqQSowVdWeCZ5bd1J3Nd3iP~Otf7XyKYe7T8cGGdakL1GtG0c7vmkEEZsE1wwCqRX4sLwUMqpwzcfnVtqwJQByFbc7cdp9BhYc6wBBANf9VYZb8kvld1Ln9UgsZ7mfxlLgxidngU8bDlLAIcGxdPumMkw03NY-gv7-pQQidrDmSBBC-7oaM4Bl8kk~tfOqzylibWJvpT92d7tRnkg__"
        alt=""
      />
    </div>
    <div class="slide">
      <img (dragstart)="dragstart($event)" (dragend)="dragend($event)"
        src="https://s3-alpha-sig.figma.com/img/340f/ac90/fd6dfbaeba51d1e63c2f7abcbe67478b?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VanUTpBqQiIMalw8MftpBa2PLI02KCHM2dRNRx6POhIbpJUEiawpmb0kzg1zsiGajz8PkSdpkhuoQ6TiDJPfD4~iX4ansBM8z4aG5s9Vu5RubuPs1OigBcxsTywtlUC3MHoOtLqQSowVdWeCZ5bd1J3Nd3iP~Otf7XyKYe7T8cGGdakL1GtG0c7vmkEEZsE1wwCqRX4sLwUMqpwzcfnVtqwJQByFbc7cdp9BhYc6wBBANf9VYZb8kvld1Ln9UgsZ7mfxlLgxidngU8bDlLAIcGxdPumMkw03NY-gv7-pQQidrDmSBBC-7oaM4Bl8kk~tfOqzylibWJvpT92d7tRnkg__"
        alt=""
      />
    </div>
    <div class="slide">
      <img (dragstart)="dragstart($event)" (dragend)="dragend($event)"
        src="https://s3-alpha-sig.figma.com/img/340f/ac90/fd6dfbaeba51d1e63c2f7abcbe67478b?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VanUTpBqQiIMalw8MftpBa2PLI02KCHM2dRNRx6POhIbpJUEiawpmb0kzg1zsiGajz8PkSdpkhuoQ6TiDJPfD4~iX4ansBM8z4aG5s9Vu5RubuPs1OigBcxsTywtlUC3MHoOtLqQSowVdWeCZ5bd1J3Nd3iP~Otf7XyKYe7T8cGGdakL1GtG0c7vmkEEZsE1wwCqRX4sLwUMqpwzcfnVtqwJQByFbc7cdp9BhYc6wBBANf9VYZb8kvld1Ln9UgsZ7mfxlLgxidngU8bDlLAIcGxdPumMkw03NY-gv7-pQQidrDmSBBC-7oaM4Bl8kk~tfOqzylibWJvpT92d7tRnkg__"
        alt=""
      />
    </div>
    <div class="slide">
      <img (dragstart)="dragstart($event)" (dragend)="dragend($event)"
        src="https://s3-alpha-sig.figma.com/img/340f/ac90/fd6dfbaeba51d1e63c2f7abcbe67478b?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VanUTpBqQiIMalw8MftpBa2PLI02KCHM2dRNRx6POhIbpJUEiawpmb0kzg1zsiGajz8PkSdpkhuoQ6TiDJPfD4~iX4ansBM8z4aG5s9Vu5RubuPs1OigBcxsTywtlUC3MHoOtLqQSowVdWeCZ5bd1J3Nd3iP~Otf7XyKYe7T8cGGdakL1GtG0c7vmkEEZsE1wwCqRX4sLwUMqpwzcfnVtqwJQByFbc7cdp9BhYc6wBBANf9VYZb8kvld1Ln9UgsZ7mfxlLgxidngU8bDlLAIcGxdPumMkw03NY-gv7-pQQidrDmSBBC-7oaM4Bl8kk~tfOqzylibWJvpT92d7tRnkg__"
        alt=""
      />
    </div>
    <div class="slide">
      <img (dragstart)="dragstart($event)" (dragend)="dragend($event)"
        src="https://s3-alpha-sig.figma.com/img/340f/ac90/fd6dfbaeba51d1e63c2f7abcbe67478b?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VanUTpBqQiIMalw8MftpBa2PLI02KCHM2dRNRx6POhIbpJUEiawpmb0kzg1zsiGajz8PkSdpkhuoQ6TiDJPfD4~iX4ansBM8z4aG5s9Vu5RubuPs1OigBcxsTywtlUC3MHoOtLqQSowVdWeCZ5bd1J3Nd3iP~Otf7XyKYe7T8cGGdakL1GtG0c7vmkEEZsE1wwCqRX4sLwUMqpwzcfnVtqwJQByFbc7cdp9BhYc6wBBANf9VYZb8kvld1Ln9UgsZ7mfxlLgxidngU8bDlLAIcGxdPumMkw03NY-gv7-pQQidrDmSBBC-7oaM4Bl8kk~tfOqzylibWJvpT92d7tRnkg__"
        alt=""
      />
    </div>
    <div class="slide">
      <img (dragstart)="dragstart($event)" (dragend)="dragend($event)"
        src="https://s3-alpha-sig.figma.com/img/340f/ac90/fd6dfbaeba51d1e63c2f7abcbe67478b?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VanUTpBqQiIMalw8MftpBa2PLI02KCHM2dRNRx6POhIbpJUEiawpmb0kzg1zsiGajz8PkSdpkhuoQ6TiDJPfD4~iX4ansBM8z4aG5s9Vu5RubuPs1OigBcxsTywtlUC3MHoOtLqQSowVdWeCZ5bd1J3Nd3iP~Otf7XyKYe7T8cGGdakL1GtG0c7vmkEEZsE1wwCqRX4sLwUMqpwzcfnVtqwJQByFbc7cdp9BhYc6wBBANf9VYZb8kvld1Ln9UgsZ7mfxlLgxidngU8bDlLAIcGxdPumMkw03NY-gv7-pQQidrDmSBBC-7oaM4Bl8kk~tfOqzylibWJvpT92d7tRnkg__"
        alt=""
      />
    </div>
  </div>
</div>
